.gallery{
  .gallery_main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:8px;
    margin: 40px auto;
    padding: 0 40px;
    .gallery_image{
      width: 280px;
      height: 280px;
    }
  }
}