@import "../../../scss/variables/colors.scss";

.our_horses_home_main {
  background-color: $yellow_main;
  .our_horses_home_main_pad {
    padding: 40px;
    .our_horses_home_main_flex {
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;
      max-width: 1440px;
      margin: 0 auto;
      .our_horses_home_main_title {
        font-size: 48px;
        font-family: Verdana, serif;
        font-weight: 500;
        padding-bottom: 24px;
        color: white;
        text-shadow: 0 0 1px #000000, 0 0 3px #000000;
      }
      .our_horses_home_div_flex {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;
        align-items: center;
        align-items: stretch;
        margin-bottom: 80px;
        .our_horses_home_div_item {
          border: 2px rgb(55, 55, 55) solid;
          border-radius: 50%;
          transition: all 0.3s linear;

          .circle_div {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            background-image: url("../../../assets/images/horse_image.jpg");
            background-size: cover;
            background-position: center;
            background-clip: border-box;
            background-repeat: no-repeat;
            transition: all 0.3s linear;
            cursor: pointer;
            position: relative;

            .circle_div_name {
              width: 100%;
              height: 25%;
              background-color: rgba(0, 0, 0, 0);
              position: absolute;
              top: 100%;
              left: 0;
              transition: all 0.3s linear;
              text-align: center;
              border-radius: 0 0 16px 16px;
              display: flex;
              justify-content: center;
              align-items: center;
              .circle_div_name_span {
                font-size: 32px;
                color: rgb(240, 240, 240);
                opacity: 0;
              }
            }
          }

          .our_horses_home_horse_image {
            width: 110px;
            height: 110px;
            border-radius: 50%;
          }
          .our_horses_home_div_item_desc {
            display: flex;
            flex-direction: column;
            gap: 8px;
            .our_horses_home_horse_p {
              font-family: Verdana, serif;
              font-weight: 500;
              font-size: 28px;
            }
            .our_horses_home_horse_span {
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 7; /* number of lines to show */
              line-clamp: 7;
              -webkit-box-orient: vertical;
              font-weight: 400;
              color: rgb(55, 55, 55);
            }
          }
        }

        .our_horses_home_div_item:hover {
          border-radius: 16px;
          .circle_div {
            border-radius: 16px;
            .circle_div_name {
              background-color: rgba(0, 0, 0, 0.35);
              transform: translateY(-100%);
              .circle_div_name_span {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
